<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Ecuelle</title>
<link rel="stylesheet" href="static/bootstrap.min.css">
</head>
<body>

<div id="app">

    <button @click="onrequest">request !</button>
    <div id="result">{{ result }}</div>

    <div id="connections">
    </div>

    <div id="queries">
        <table class="table table-bordered">

            <template v-for="query in queries">
                <tr>
                    <td class="tiny">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle btn-xs" type="button">
                                >
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Option 1</a></li>
                                <li><a href="#">Option 2</a></li>
                            </ul>
                        </div>
                    </td>

                    <td class="query">
                        {{query.query}}

                        <table class="table table-bordered" v-if="query.result">
                            <tr>
                                <template v-for="col in query.result.cols">
                                    <th>{{col}}</th>
                                </template>
                            </tr>
                            <template v-for="row in query.result.rows">
                                <tr>
                                    <template v-for="val in row">
                                        <td>{{col}}</td>
                                    </template>
                                </tr>
                            </template>
                        </table>

                    </td>
                </tr>
            </template>
        </table>

    </div>
</div>

<script src="static/socket.io.min.js" type="application/javascript"></script>
<script src="static/vue.global.js"></script>
<!--script src="static/bootstrap.min.js" type="application/javascript"></script-->
<script src="static/app.js"></script>

</body>
</html>